# Auto detect text files and perform LF normalization
* text=auto
vscode://vscode.github-authentication/did-authenticate?windowid=5&code=24fbe4278c32b81bc40f&state=0d42108d-c9ee-4d8d-92c9-1ff21681e435
